# coding=utf-8

from wsgiref.simple_server import make_server

from ${MODULE_NAME} import ${METHOD_NAME}

httpd = make_server('', 8000, ${METHOD_NAME})
print "Serving HTTP on port 8000..."
httpd.serve_forever()
